*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a:link{color: #ff0000;}
a:visited{color: #ff0000;}
a:hover{color: #000000;}
a:active{color: #AFAFAF;}

header{
    background-color: #ff0000;
    height: 125px;
    text-align: center;
}
header img{
    margin-top: 25px;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
nav ul{
    width: 1100px;
    height: 180px;
    display: flex;
    justify-content: space-between;
}
nav ul a{
    font-size: 32px;
    letter-spacing: -0.4px;
    font-family: "din-condensed", sans-serif;
    font-weight: 300;
    font-style: normal; 
    margin-top: 29px;
    display: block;
}
.tit{
    width: 100%;
    height: 440px;
    background-image: url(img/s1_tit.png);
}
.txt01{
    width: 919px;
    height: 567px;
    margin: 0 auto;
    padding: 210px;
    
}
.txt02{
    width: 919px;
    height: 992px;
    margin: 0 auto;
    padding: 210px;
}
.txt03{
    width: 919px;
    height: 757px;
    margin: 0 auto;
    padding: 210px;
}
.txt04{
    width: 919px;
    height: 922px;
    margin: 0 auto;
    padding: 210px;

}
.txt05{
    width: 919px;
    height: 660px;
    margin: 0 auto;
    padding: 210px;
}
.txt06{
    width: 919px;
    height: 338px;
    margin: 0 auto;
    padding: 210px;
}


footer{
    width: 100%;
    height: 100px;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
}
.footer{
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer img{
    width: 126px;
    height: 78.75px;
}
.copyright{
    width: 450px;
    height: 28px;
    font-family: 'Noto Sans KR', sans-serif; 
    color: white;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -0.6px;
    text-align: right;
}

/* din서체 적용시
font-family: "din-condensed", sans-serif;
font-weight: 300;
font-style: normal; 
*/

/* Noto sans kr서체 적용시
font-family: 'Noto Sans KR', sans-serif; 
*/